.butnfon{ padding-left: 3rem; padding-top: 1.5rem;
    font-size: large; color: red;}
body{ 
    background: linear-gradient(90deg, rgb(153, 133, 202), rgb(225, 237, 179));
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transform-style: preserve-3d;
}